@keyframes anim_bg1 {
	from {
  left: -609px;
  top: -460px;}
	to {
  left: 0px;
  top: 0px;}
}
@keyframes anim_bg2 {
	from {
  left: 0px;}
	to {
  left: -609px;}
}

@keyframes hoverLink {
	from {font-size: 28px; color: #ffffff;}
	to {font-size: 32px; color: #40f0ff;}
}
@keyframes unhoverLink {
	from {font-size: 32px; color: #40f0ff;}
	to {font-size: 28px; color: #ffffff;}
}

.bg1 {
  background-image: url("depths.jpg");
  background-repeat: repeat;
  width: 200%;
  height: 200%;
  position: fixed;
  left: -609px;
  top: -460px;

  animation-name: anim_bg1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  background-blend-mode: multiply;
  background-color: #444044;
}
.bg2 {
  background-image: url("depths.jpg");
  background-repeat: repeat;
  width: 200%;
  height: 200%;
  position: fixed;
  left: -300px;
  top: 0px;

  animation-name: anim_bg2;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  background-blend-mode: multiply;
  background-color: #aaaaaa;
  opacity: 0.2;  
}

#bar {
	position: fixed;
	display: flex;
  	justify-content: center;
  	align-items: center;
	top: 0px;
	left: 0px;
	width: 100%;
        height: 90px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
}

.barLink {
	position:relative;
	width: 300px;
	font-size: 28px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	
  	animation-name: unhoverLink;
  	animation-duration: 0.5s;
}

.barLink:hover {
	position:relative;
	width: 300px;
	font-size: 32px;
	background-color: #000000;
	color: #40f0ff;
	text-align: center;
	vertical-align: middle;

	
  	animation-name: hoverLink;
  	animation-duration: 0.2s;
}

.textbox {
	width: 80%;
	background-color: #002240;
	border-style: solid;
	border-width: 8px;
	border-color: #20a0ba;
	margin-top: 100px;
	box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.5);
}
