@keyframes anim_bg1 {
	from {
  left: -609px;
  top: -460px;}
	to {
  left: 0px;
  top: 0px;}
}
@keyframes anim_bg2 {
	from {
  left: 0px;}
	to {
  left: -609px;}
}

@keyframes hoverLink {
	from {font-size: 28px; color: #ffffff;}
	to {font-size: 32px; color: #40f0ff;}
}
@keyframes unhoverLink {
	from {font-size: 32px; color: #40f0ff;}
	to {font-size: 28px; color: #ffffff;}
}

@font-face {
	font-family: 'determination';
	src: url('./DeterminationMonoWeb.woff')
}

.bg1 {
  background-image: url("depths.jpg");
  background-repeat: repeat;
  width: calc(100% + 609px);
  height: calc(100% + 460px);
  position: fixed;
  left: -609px;
  top: -460px;

  animation-name: anim_bg1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  z-index: -7;
  background-blend-mode: multiply;
  background-color: #444044;
}
.bg2 {
  background-image: url("depths.jpg");
  background-repeat: repeat;
  width: calc(100% + 609px);
  height: calc(100% + 460px);
  position: fixed;
  left: -300px;
  top: 0px;

  animation-name: anim_bg2;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  z-index: -5;
  background-blend-mode: multiply;
  background-color: #aaaaaa;
  opacity: 0.2;  
}

#bar {
	position: fixed;
	display: flex;
  	justify-content: center;
  	align-items: center;
	top: 0px;
	left: 0px;
	width: 100%;
        height: 90px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	z-index: 100;
}

.barLink {
	font-family: 'determination';
	position:relative;
	width: 300px;
	font-size: 28px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	
	text-decoration: none;

  	animation-name: unhoverLink;
  	animation-duration: 0.5s;
}

.barLink:hover {
	position:relative;
	width: 300px;
	font-size: 32px;
	background-color: #000000;
	color: #40f0ff;
	text-align: center;
	vertical-align: middle;

	
  	animation-name: hoverLink;
  	animation-duration: 0.2s;
}

.textbox {
	font-family: 'determination';
	width: min(90%, 800px);
	background-color: #000810;
	border-style: solid;
	border-width: 8px;
	border-color: #20a0ba;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px 10px 10px;
	color: #b0f0ff;
	box-shadow: 14px 14px 0 0 rgba(0, 0, 0, 0.5);
}

#page {
	position: relative;
	top: 90px;
	padding-bottom: 50px;
}

#title {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.5);
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

h1 {
	padding-left: 20px;
	color: #ffffff;
	border-style: solid;
	border-width: 0 0 2px 0;
}

p {
	padding-left: 30px;
	padding-right: 10px;
	font-size: 20px;
}

a {
	color: #40a0ff;
}
a:hover {
	color: #60c0ff;
}

a:active {
	color: #104080;
}
